body{font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
margin: 0;
padding: 0;
box-sizing: border-box;
}
#header{background:linear-gradient(rgba(214, 188, 94, 0.8),rgba(80, 188, 181, 0.8)),url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 15px;
    margin: 0;
    border: solid orange 2px;
    

}
.heading-1{
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 38px;
}
div>p{
    color:#ffff;
    padding: 5px;
    margin: 15px;

}
#header>.button{text-decoration: none;
text-align: center;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
background-image:linear-gradient(rgba(221, 146, 6, 0.625),rgba(159, 29, 105, 0.684) );
border-radius: 5px;
color: #ffff;
max-resolution: 0 ,auto;

}